:host {
  display: block;
  min-height: 30px;
  cursor: pointer;
  user-select: none;
}

a {
  display: block;
  margin: 0;
  line-height: 30px;
  color: black;
  text-decoration: none;

  &:hover {
    @extend .active;
  }
}

.active {
  background-color: seashell;
  color: #444;
}

app-recursive {
  height: 0;
  min-height: 0;
  overflow: hidden;

  &.expanded {
    height: auto;
    min-height: 30px;
  }
}